@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>building Course Enrollment System with ASP.NET Core For CodeZone By Mosaad Ahmed.</p>
    <a href="https://github.com/mosaadahme/CodeZoneAssessment.git">Click For Going Github Account</a>
</div>
